################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
tests/CPPNamedLocksTest/.vs/CPPNamedLocksTest/v15/
tests/CPPNamedLocksTest/x64/
tests/CSharpNamedLocksTest/obj/
